.App {
  text-align: center;
  background-image: url('./Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-color: rgb(86, 13, 88);
  background-blend-mode: multiply;
}

