.App {
  text-align: center;
  background-image: url('./pexels-photo-2603464.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-color: rgb(121, 38, 124);
  background-blend-mode: multiply;
}

