.ABConteiner {
    width: 10%;
    height: 30%;
    display:flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
    background: rgba(24,9,122,1);
    border: 1px solid black;
    position: absolute;
    left: 125px;
}

.ABConteiner:hover{
    border: 1px solid white;
}

.AddBtn{
    width: 100%;
    height: 100%;
    box-shadow: -3px 39px 97px -73px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -3px 39px 97px -73px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -3px 39px 97px -73px rgba(0,0,0,0.75) inset;
}

.Btn{
    border: none;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: none;
    font-family: 'Cairo', sans-serif;
}



