
.DForm{
    display: flex;
    width: 70%;
    margin: auto;
    padding: 30px;
    position: relative;
    border-radius: 1rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 40px;
    background: linear-gradient(205deg, rgba(83,34,167,1) 0%, rgba(24,9,122,1) 35%, rgba(74,39,187,1) 100%);
    color: white;
}



.Data{
    display: flex;
    width: 60%;
    margin: auto;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 10%;
    color: white;
}

.DInput{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 50%
}

@media (max-width: 1250px){
    .DForm{
        width: 90%;
        justify-content: center;
        padding: 0;
    }
    .Data{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 3rem;
    }
    .DInput{
        width: 80%;
    }
}

.DInputRel{
    display:flex;
}

input:invalid {
    border: 1px solid red;
  }
  
input:valid {
    border: 2px solid black;
}

  
.Comment{
    color: grey;
    font-size:small;
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
}
    
.Image{
    width: auto;
}
    
.Rating{
    width: auto;
    align-items: flex-start;
}
    
.Stars{
    margin-left: 10px;
}
    
.AVSubmit{
    position: absolute;
    left: 50%;
    top: 93%;
    border: none;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24,9,122,1);
    font-family: 'Cairo', sans-serif;
    cursor: pointer;
}
    
.Label{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}
    
.LabelGenres{
    display: flex;
    align-items: flex-start;
}
    
.ptDiv{
    color: white;
    background-color: rgba(255, 255, 255, 0.109);
    width: auto;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border: 1px solid grey;
    margin: 15px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
        
}
    
.ptConteiner{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ptBtn{
    color: white;
    background-color: rgba(24,9,122,1);;
}


.PWPreview{
    margin-right: 10%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1250px) {
    .PWPreview{
        display: none;
    }
    .PWConteiner{
        display: none;
    }
    .ptConteiner{
        width: 80%;
    }
}

.PWConteiner {
    width: 100%;
    height: 300px;
    border: 1px black solid;
    color: white;
    background-image: black;
    margin: 10px;
    border-radius: 2,5rem 2,5rem; 
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.PWImg {
    width: 100%;
    height: 100%;
}

.PWConteiner:hover .PWImg {
    opacity: 50%;
}

.PWtitle {
    position: absolute;
    top: 70%;
    font-size: 25px;
    text-shadow: 10px 10px 20px black;
    background: linear-gradient(205deg, rgba(0,0,0,1) 0%, rgba(45,42,55,0.5382528011204482) 50%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: auto;
    padding: 10px 0px;
    -webkit-text-stroke: 1px black;
    transition: all 0.6s ease-out;
}

.PWConteiner:hover .PWtitle {
    top: 0px;
}


.PWinfoCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(205deg, rgba(0,0,0,1) 0%, rgba(45,42,55,0.5382528011204482) 50%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 30%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    font-family: 'Cairo', sans-serif;
}

.PWConteiner:hover .PWinfoCont {
    visibility: visible;
    opacity: 1;
    bottom: 0px;
}
