.DForm{
    display: flex;
    width: 70%;
    margin: auto;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background: linear-gradient(205deg, rgba(83,34,167,1) 0%, rgba(24,9,122,1) 35%, rgba(74,39,187,1) 100%);
    color: white;
}

.DInput{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.DInputRel{
    display: flex;
    flex-direction: raw;
}