.ftConteiner {
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
    position: relative;
    bottom: 0;
    color: white;
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 1px solid white;
    margin-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Cairo', sans-serif;
}

@media (max-width: 500px){
    .ftConteiner{
        font-size: 0.7rem;
        height: auto;
    }
}

.ftInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 0 0 3rem;
}

.ftPar{
    margin: 0;
}

.ftStack{
    position: absolute;
    top: 3rem;
    right: 8rem;
}

@media (max-width: 550px) {
    .ftStack {
        display: none;
    }
}