.pagpos{
    position: absolute;
    margin: auto;
    top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.pagpos ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pagpos li{
}

.current{
    background-color: grey;
    width: 35px;
    height: 35px;
    border: 0.5px solid white;
}

.pag{
    width: 35px;
    height: 35px;
    border: 0.5px solid grey;
    border-radius: none;
}

.pag:hover{
    background: white;
    background-color: rgb(135, 131, 133);
}