.pagpos{
    position: absolute;
    margin: auto;
    top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 741px) {
    .pagpos {
        top: 10px;
    }

}

.pagpos ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 250px;
}


.pagpos li{
}

.current{
    background-color:rgba(83,34,167,1);
    color: white;
    width: 35px;
    height: 35px;
    border: 0.5px solid white;
}

.pag{
    width: 35px;
    height: 35px;
    color: white;
    border: 0.5px solid grey;
    background-color: rgba(24,9,122,1);
    border-radius: none;
}

.pag:hover{
    background: white;
    background-color: rgba(135, 131, 133, 0.363);
}